# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Testing & Coverage
/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Next.js & Build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Misc & OS
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
!.env.example

# Vercel
.vercel

# Dataset files & Large Data (creditcard.csv > 150MB)
fraud detection*/
*.csv
data/
